<ul class="flex gap-4">
  <li>
    <%= link_to "mailto:hello@flowofcode.com", target: "_blank" do %>
      <%= image_tag "email.svg", size: "24x24" %>
    <% end %>

  </li>
  <li>
    <%= link_to "https://github.com/joe-tripodi", target: "_blank" do %>
      <%= image_tag "github.svg", size: "24x24" %>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.linkedin.com/in/joetripodiau/", target: "_blank" do %>
      <%= image_tag "linkedin.svg", size: "24x24" %>
    <% end %>
  </li>
  <li>
    <%= link_to "https://x.com/mrjoetripodi", target: "_blank" do %>
      <%= image_tag "x.svg", size: "24x24" %>
    <% end %>
  </li>
</ul>
