<%= link_to project, class: "md:max-w-2xl" do %>
  <div class="flex flex-col gap-2 transition-colors duration-100 ease-linear hover:bg-slate-50 p-5 rounded-xl" id="<%= dom_id project %>">
    <div>
      <p class="font-bold text-lg"><%= project.title %></p>
    </div>
    <div>
      <p class="text-md text-gray-600">
      <% if project.summary.length > 100 %>
        <%= project.summary[0..100]... %>
      <% else %>
        <%= project.summary %>
      <% end %>
      </p>
    </div>
    <div>
      <span class="text-primary-600"> Read project ></span>
    </div>
  </div>
<% end %>
