<div id="<%= dom_id post %>">
  <h1 class="text-3xl font-bold">
    <%= post.title %>
  </h1>

  <p class="italic">
    <%= post.published_date_formatted %>
  </p>

  <p>
    <%= post.author %>
  </p>

  <p class="italic">
    <%= post.summary %>
  </p>

  <div class="trix-editor pt-5">
    <%= post.body %>
  </div>
</div>
