<% content_for :title, @post.title %>
<% content_for :description, @post.summary %>

<p style="color: green"><%= notice %></p>

<div class="flex items-center justify-center">
<div class="max-w-3xl">
  <%= render @post %>
</div>
</div>

<% unless true %>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<% end %>
