<div id="<%= dom_id shopify %>">
  <h1 class="text-3xl font-bold">
    <%= shopify.title %>
  </h1>

  <p class="italic">
    <%= shopify.date %>
  </p>

  <br/>

  <p class="italic">
    <%= shopify.summary %>
  </p>

  <div class="trix-editor pt-5">
    <%= shopify.body %>
  </div>
</div>
