<nav>
  <div class="flex flex-col items-center p-2">
    <div class="flex gap-4 rounded-full bg-white/90 px-3 text-sm font-medium text-gray-800 shadow-lg shadow-gray-800/5 ring-1 ring-gray-900/5 backdrop-blur">
      <%= link_to "Home", root_path, class: "relative block px-3 py-2.5 transition  hover:text-primary-600" %>
      <%= link_to "About", "#", class: "relative block px-3 py-2.5 transition  hover:text-primary-600"%>
      <%= link_to "Blog", posts_path, class: "relative block px-3 py-2.5 transition  hover:text-primary-600 " %>
      <%= link_to "Projects", projects_path, class: "relative block px-3 py-2.5 transition  hover:text-primary-600"%>
      <%= link_to "Shopify", shopifies_path, class: "relative block px-3 py-2.5 transition  hover:text-primary-600"%>
    </div>
  </div>
</nav>
